.section(ng-if="showAwardsHonorsSection()")
  .section-title
    h2
      span Awards & Honors
      a.edit-link(ng-show="!hideIncomplete" ui-sref="profile.edit.education")
        i.fa.fa-pencil
        span &nbsp; Edit
      
  .section-body
    .row
      .col-xs-4
      .col-xs-4(ng-if="completeAwards.length > 0 || !hideIncomplete")
        h4 Awards
        
        .incomplete-block(ng-if="profile.awards.length == 0")
          span Information for Awards is incomplete
          a.incomplete-link(ui-sref="profile.edit.education")
            span Add Info
            i.g.g-2x.g-circle-plus

        ul
          li(ng-repeat="award in completeAwards" ng-if="award.name && award.date")
            span {{award.name}} &nbsp;
            span.subtext ({{award.date * 1000 | date:'MMM yyyy'}})

      .col-xs-4(ng-if="completeAcademicOrgs.length > 0 || !hideIncomplete")
        h4 Honor Societies

        .incomplete-block(ng-if="profile.academicOrganizations.length == 0")
          span Information for Honors is incomplete
          a.incomplete-link(ui-sref="profile.edit.education")
            span Add Info
            i.g.g-2x.g-circle-plus
        ul
          li(ng-repeat="org in completeAcademicOrgs" ng-if="org.name && org.duration.start")
            span {{org.name}} &nbsp;
            span.subtext ({{org.duration.start * 1000 | date:'MMM yyyy'}} - {{org.duration.end ? (org.duration.end * 1000 | date:'MMM yyyy') : 'Present'}})
