.section.subsection(ng-if="showCharacterSection()")
  .section-title
    h2
      span Character
      a.edit-link(ng-show="!hideIncomplete" ui-sref="profile.edit.personal")
        i.fa.fa-pencil
        span &nbsp; Edit
  .section-body
    .row
      .col-xs-4
        h3 Top Reported
      .col-xs-8(ng-if="!profile.characterTraits || profile.characterTraits.length == 0")
        .incomplete-block
          span Information for character traits is incomplete
          a.incomplete-link(ui-sref="profile.edit.personal")
            span Add Info
            i.g.g-2x.g-circle-plus
      .col-xs-4(ng-if="profile.characterTraits.length > 0")
        ol
          li(ng-repeat="item in getCharacterTraits(0, 2)") {{getLabel(labels.characterTraits, item)}}
      .col-xs-4(ng-if="profile.characterTraits.length > 2")
        ol(start="4")
          li(ng-repeat="item in getCharacterTraits(3, 5)") {{getLabel(labels.characterTraits, item)}}
