{% extends 'public-page-default.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="content-pad">

      {% include 'partials/flashes.html.twig' %}
      
    <div class="form">
      {% include 'partials/registration-form.html.twig' %}
    </div>
      
  </div>
</div>

{% endblock %}
