{% extends 'public-page-default.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="content-pad">
      {% include 'partials/flashes.html.twig' %}
      
      <form class="form" action="" method="POST">
        <div class="form-group email-field {% if form_errors(form.email)|length > 0 %} has-error {% endif %}">
          {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
          {{ form_errors(form.email) }}
          {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
          <p class="help-block">Enter your email address here to receive another link to verify your email address. If you do not receive the email, be sure to check your spam and junk folders.</p>
        </div>

        {{form_rest(form)}}

        <div class="form-group">
          <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
