.save-and-exit
  
  p Your profile is incomplete, but you may return to finish it any time.  Please note that employers will not be able to discover your profile until you have completed this initial walkthrough and verified your contact email address.
  
  .verification-alert(cg-busy="extras.promise")
    .alert.alert-warning(ng-show="!extras.verified") Note that your profile will not be available to employers until your email address has been verified.  Check your inbox for the verification link we sent, or request another one.