.app-footer
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .row.menus
          .col-xs-4.col-sm-2.menu.col-sm-offset-3
            ul
              li
                a(href="/") Candidates
              li
                a(href="/employers") Employers
              li
                a(href="/login") Log In
              li
                a(href="/account/create") Join GPS
          .col-xs-4.col-sm-2.menu
            ul
              li
                a(href="/") About
              li
                a(href="/terms-of-use") Terms
              li
                a(href="/privacy-policy") Privacy
              li
                a(href="/faqs") FAQs
          .col-xs-4.col-sm-2.menu
            ul
              li Connect with Us
              li
                span.social-icon
                  a(href="https://www.facebook.com/GlobalProfessionalSearch/" target="_blank" analytics-on="click" analytics-event="footer.facebook.view")
                    i.fa.fa-facebook
                span.social-icon
                  a(href="https://twitter.com/GPS_Jobs" target="_blank" analytics-on="click" analytics-event="footer.twitter.view")
                    i.fa.fa-twitter
                span.social-icon
                  a(href="https://www.linkedin.com/company/global-professional-search" target="_blank" analytics-on="click" analytics-event="footer.linkedin.view")
                    i.fa.fa-linkedin
        .row.copyright
          .col-xs-12
            p.small.text-center
              span &#169;
              span Global Professional Search 2015
              span
                i.fa.fa-lock
