.modal.sections-seen-modal
  .modal-dialog
    .modal-content
      .modal-body
        p We appreciate you taking the time to create your GPS profile. To maximize your profile visibility, we encourage you to complete all required sections. The more comprehensive your profile, the more likely you are to be matched with the right job opportunity.
        p Get your language and culture to work.
      .modal-footer
        a.btn.btn-primary(ng-click="$close('profile')") View Profile
        a.btn.btn-primary(ng-click="$close('edit')") Continue Editing
        a.btn.btn-primary(ng-click="$close('dashboard')") Dashboard
